<div class="sales-search-table">
 <p-table [value]="orders" [paginator]="true" [rowsPerPageOptions]="[100, 150, 200]" [rows]="50">
   <ng-template #header>
     <tr>
       <th>Order #</th>
       <th>Order Date</th>
       <th>Status</th>
     </tr>
   </ng-template>
   <ng-template #body let-order>
      <tr>
        <td><a routerLink="/sales-order/{{order.no}}">{{order.no}}</a></td>
        <td>{{order.date}}</td>
        <td>{{order.status}}</td>
      </tr>
    </ng-template>
 </p-table>
</div>
