<p-splitter>

  <ng-template pTemplate>
    <div class="inventory-sidebar">
      <search-form [RefName]="'inventory'" />
      <inventory-table />
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="product-page-container">
      <div class="product-info-wrapper">
        <form #productInfoForm="ngForm" (ngSubmit)="productInfoFormSubmitted(productInfoForm)">
          <nav>
            <div class="nav-button">
              <p-button icon="pi pi-save" label="Save" styleClass="toolbar-buttons" type="submit" />
              <p-button icon="pi pi-plus" label="New" styleClass="toolbar-buttons"/>
              <p-button icon="pi pi-ban" label="Deactive" styleClass="toolbar-buttons"/>
              <p-button routerLink="/inventory" icon="pi pi-times" label="Close" styleClass="toolbar-buttons"/>
            </div>
          </nav>
          <p-tabs value="0">
            <p-tablist>
              <p-tab value="0">Product Info</p-tab>
              <p-tab value="1">Extra Info</p-tab>
              <p-tab value="3">Sales Info</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                <p-fieldset legend="Basic" [toggleable]="true">
                  <div class="form-control">
                    <label for="item-code">Item Name</label>
                    <input
                      id="item-code"
                      name="itemcode" pInputText
                      [disabled]="true"
                      [ngModel]="itemCode"
                      type="text">

                  </div>
                  <div class="form-control">
                    <label for="category">Category</label>
                    <input [(ngModel)]="productInfo.category" id="category" name="category" pInputText type="text">
                  </div>
                  <div class="form-control">
                    <label for="type">Type</label>
                    <input
                      [(ngModel)]="productInfo.type"
                      id="type"
                      name="type"
                      pInputText
                      type="text"
                    >
                  </div>
                  <div class="form-control">
                    <label for="desc">Description</label>
                    <input [(ngModel)]="productInfo.description" id="desc" name="type" pInputText type="text">
                  </div>
                </p-fieldset>
                <p-fieldset legend="Inventory" [toggleable]="true">
                  <div class="form-control">
                    <label for="shelf">Total Zippers (Shelf)</label>
                    <input
                      [(ngModel)]="productInfo.qtyShelf"
                      id="shelf"
                      name="type"
                      pInputText
                      type="text"
                   />
                  </div>
                  <div class="form-control">
                    <label for="tagged">Total Zippers (Tagged)</label>
                    <input
                      [(ngModel)]="productInfo.qtyShelf"
                      id="tagged"
                      name="type"
                      pInputText
                      type="text"
                    />
                  </div>
                  <div class="form-control">
                    <label for="loose">Total Zippers (Loose)</label>
                    <input
                      [(ngModel)]="productInfo.qtyShelf"
                      id="loose"
                      name="type"
                      pInputText
                      type="text"
                    />
                  </div>
                </p-fieldset>
              </p-tabpanel>
              <p-tabpanel value="1">
                Second Panel
              </p-tabpanel>
              <p-tabpanel value="2">
                Third Panel
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
<!--          <p-tabView>-->
<!--            <p-tabPanel header="Product Info">-->
<!--              <p-fieldset [toggleable]="true" legend="Basic Info">-->
<!--                <div class="form-control">-->
<!--                  <label for="item-code">Item Code</label>-->
<!--                  <input-->
<!--                    id="item-code"-->
<!--                    name="itemcode" pInputText-->
<!--                    [disabled]="true"-->
<!--                    [ngModel]="itemCode"-->
<!--                    type="text">-->

<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="category">Category</label>-->
<!--                  <input [(ngModel)]="productInfo.category" id="category" name="category" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="type">Type</label>-->
<!--                  <input [(ngModel)]="productInfo.type" id="type" name="type" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="desc">Description</label>-->
<!--                  <input [(ngModel)]="productInfo.description" id="desc" name="type" pInputText type="text">-->
<!--                </div>-->
<!--              </p-fieldset>-->
<!--              <p-fieldset [toggleable]="true" legend="Sales Info">-->
<!--                <div class="form-control">-->
<!--                  <label for="price">Normal Price</label>-->
<!--                  <input [(ngModel)]="productInfo.price" id="price" name="price" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="tagged-price">Tagged Zip Price</label>-->
<!--                  <input [(ngModel)]="productInfo.tprice" id="tagged-price" name="tprice" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="loose-price">Tagged Zip Price</label>-->
<!--                  <input [(ngModel)]="productInfo.lprice" id="loose-price" name="lprice" pInputText type="text">-->
<!--                </div>-->
<!--              </p-fieldset>-->
<!--            </p-tabPanel>-->
<!--            <p-tabPanel header="Extra Info">-->
<!--              <p-fieldset legend="Storage Info" [toggleable]="true">-->
<!--                <div class="form-control">-->
<!--                  <label for="barcode">Barcode</label>-->
<!--                  <input [(ngModel)]="productInfo.barcode" id="barcode" name="barcode" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="reorder-point">Reorder Point</label>-->
<!--                  <input [(ngModel)]="productInfo.reorderPoint" id="reorder-point" name="reorderPoint" pInputText type="text">-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                  <label for="reorder-quantity">Reorder Quantity</label>-->
<!--                  <input [(ngModel)]="productInfo.reorderQty" id="reorder-quantity" name="reorderQty" pInputText-->
<!--                         type="text">-->
<!--                </div>-->
<!--              </p-fieldset>-->
<!--            </p-tabPanel>-->
<!--            <p-tabPanel header="Movement History">-->
<!--              <p>Movement History Info</p>-->
<!--            </p-tabPanel>-->
<!--            <p-tabPanel header="Order History">-->
<!--              <p>Order History Info</p>-->
<!--            </p-tabPanel>-->
<!--          </p-tabView>-->
        </form>
      </div>
    </div>
  </ng-template>

</p-splitter>
