.inventory-container {
  width: 100%;
}

.inventory-sidebar {
  width: 100%;
  padding: 1.3rem 3rem;
}

.inventory-product-info {
  width: 100%;
}

#item-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

