.sales-order {
  border: 1px solid #e5e7eb;
  margin-top: 2rem;
  width: 860px;
  padding: 1.8rem;
}
h1 {
  text-align: right;
}
.address > div {
  margin: 3px;
}
.order-number-top {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 8px;
  gap: 1.5rem;
}
.order-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: flex-start;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  margin: 1rem 0;
}

.order-title {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: .3rem;
}

.sales-order-table {
  margin-top: 1.8rem;
}

.p-datatable-thead {
  background: #7a3131;
}

#edit-input {
  width: 38px;
  padding: 0 5px;
  font-size: 13px;
  height: 24px;
  border-radius: 4px;
}
