.product-page-container {
  width: 100%;
}
.product-info-wrapper {
  width: 100%;
}
.form-control {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 1.5rem 0;
  align-items: center;
}
nav {
  display: flex;
  border-bottom: 2px solid #e5e7eb;
}

nav .nav-button {
  margin-left: auto;
}
.inventory-container {
  width: 100%;
}

.inventory-sidebar {
  width: 100%;
}

.inventory-product-info {
  width: 100%;
}

#item-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
#item-code {
  opacity: 1;
}
