<h1>Search</h1>
<form class="search-form" #searchForm="ngForm" (ngSubmit)="whenSubmitted($event, searchForm)">
  <ng-container *ngTemplateOutlet="tmplRefName"></ng-container>
  <div class="form-submit-button">
    <div>
      <label for="submit-button"></label>
    </div>
    <div>
      <p-button
        [style]="{'width': '100%', 'font-size': '13px'}"
        id="submit-button"
        label="Refresh"
        type="submit"
      />
    </div>
  </div>
</form>

<ng-template #itemSearch>
  <div>
    <label for="item-name">Item Name</label>
  </div>
  <div>
    <p-autoComplete
      (completeMethod)="filterSuggestions($event, 'itemSearch')"
      [(ngModel)]="searchItem.itemName"
      [suggestions]="productItemCodeSuggestions"
      id="item-name"
      required
      [style]="{width: '180px'}"
    />
  </div>
  <div>
    <label for="description">Description</label>
  </div>
  <div>
    <input
      [(ngModel)]="searchItem.description"
      id="description"
      pInputText
      type="text"
      [style]="{width: '180px'}"
    >
  </div>
  <div>
    <label for="category">Category</label>
  </div>
  <div>
    <p-select id="category"
              [options]="productCategoryOptions"
              [(ngModel)]="searchItem.category"
              optionLabel="name"
              placeholder="Choose category"
              [style]="{width: '180px'}"
    />
  </div>
  <div>
    <label for="status">Status</label>
  </div>
  <div>
    <p-select id="status"
              [options]="statusOptions"
              [(ngModel)]="searchItem.status"
              optionLabel="name"
              placeholder="Default: Active"
              [style]="{width: '180px'}"
    />
  </div>
  <div>

  </div>
</ng-template>

<ng-template #saleSearch>
  <div>
    <label for="order-number">Order #</label>
  </div>
  <div>
    <input id="order-number" pInputText type="text" />
  </div>
  <div>
    <label for="order-customer">Customer</label>
  </div>
  <div>
    <input type="text" id="order-customer" pInputText>
  </div>
  <div>
  </div>
  <div>

  </div>
</ng-template>

<ng-template #purchaseSearch>
  <div>
    <label for="porderno">Order #</label>
  </div>
  <div>
    <input id="porderno" pInputText type="text" />
  </div>
  <div>
  </div>
  <div>

  </div>
</ng-template>

