<form #searchForm="ngForm" (ngSubmit)="whenSubmitted(searchForm)">
  <h2>Search</h2>
  <ng-container *ngTemplateOutlet="tmplRefName"></ng-container>
  <div class="form-control">
    <label for="subtn"></label>
    <p-button
      [style]="{'width': '100%', 'font-size': '13px'}"
      id="subtn"
      label="Refresh"
      type="submit"
    />
  </div>
</form>


<ng-template #productSearch>
  <div class="form-control">
    <label for="item-code">Item Code</label>
    <p-autoComplete
      (completeMethod)="filterSuggestions($event, 'products')"
      [(ngModel)]="products.itemCode"
      [suggestions]="productItemCodeSuggestions"
      id="item-code"
      required
    />
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <input [(ngModel)]="products.description" id="description" pInputText type="text">
  </div>
  <div class="form-control">
    <label for="category">Category</label>
    <p-treeSelect
      [(ngModel)]="products.category"
      [options]="productCategoryOptions"
      id="category"
    />
  </div>
  <div class="form-control">
    <label for="status">Status</label>
    <p-selectButton
      [(ngModel)]="products.status"
      [options]="status"
      id="status"
      styleClass="product-status-selbtns"
    />
  </div>
</ng-template>

<ng-template #saleSearch>
  <div class="form-control">
    <label for="order-number">Order #</label>
    <input id="order-number" pInputText type="text" />
  </div>
  <div class="form-control">
    <label for="order-customer">Customer</label>
    <input type="text" id="order-customer" pInputText>
  </div>
  <div class="form-control">
    <label for="order-status">Status</label>
    <p-selectButton
      [(ngModel)]="sales.status"
      [options]="status"
      id="order-status"
      styleClass="product-status-selbtns"
    />
  </div>
</ng-template>

<ng-template #purchaseSeach>
  <div class="form-control">
    <label for="porderno">Order #</label>
    <input id="porderno" pInputText type="text" />
  </div>
  <div class="form-control">
    <label for="porder-status">Status</label>
    <p-selectButton
      [(ngModel)]="sales.status"
      [options]="status"
      id="porder-status"
      styleClass="product-status-selbtns"
    />
  </div>
</ng-template>

