.inventory-container {
  width: 100%;
}

.inventory-sidebar {
  padding: 1rem .5rem;
  width: 100%;
}

.inventory-product-info {
  width: 100%;
}

#item-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
