<div class="import-data-page">
  <h1>Import Data</h1>
  <section class="page-form-section">
    <div>
      <form method="">
        <div class="form-group">
          <label for="data-type">Data Type</label>
          <p-select
            id="data-type"
            [options]="dataTypeOptions"
            [(ngModel)]="selectedDataType"
            name="importDataType"
          />
          <label for="file-location">File Location</label>
          <input type="file" id="file-location" name="file" (change)="onFileChange($event)" />
          @if (targetFile.found) {
            <label for="orderno">Order #</label>
            <input pInputText type="text" id="orderno" name="orderno" [(ngModel)]="targetFile.orderNumber" [value]="targetFile.orderNumber" />
          }
          @if (targetFile.err) {
            <label style="color: #dc2626;font-weight: bold;">File Error:</label>
            <p-message severity="error" variant="simple">{{targetFile.errMsg}}</p-message>
          }
        </div>

        @if(targetFile.showTable){
          <div class="dt-btns">
            <button
              (click)="importFormSubmitted($event)"
              pButton
              severity="info"
              class="import-btn"
              pTooltip="Confirm to proceed">
              Import
            </button>
          </div>
          <div class="form-group">
            <label for="line-no">Line no.</label>
            <p-select
              id="line-no"
              [options]="tableOptions"
              [(ngModel)]="selectedDataType"
            />
          </div>
        }
      </form>
    </div>
  </section>
</div>
