.form-group {
  display: grid;
  grid-template-columns: 150px 188px;
  margin: 1.5rem 0;
  gap: 1.5rem;
  align-items: center;
}
#data-type {
  padding: 0.35em 0;
}
/* file upload button */
input[type="file"] {
  color: transparent;
  width: 150px;
  overflow: hidden;
}
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.dt-info-btn {
  color: #475569;
  background: #f1f5f9;
  border: 1px solid #f1f5f9;
}
.dt-info-btn:hover {
  background-color: #e2e8f0;
  color: #334155;
  border-color: #e2e8f0;
}

.import-btn {
  margin-left: auto;
}

::ng-deep #item .p-select-label.p-placeholder,
::ng-deep #desc .p-select-label.p-placeholder,
::ng-deep #qty .p-select-label.p-placeholder,
::ng-deep #unit .p-select-label.p-placeholder,
::ng-deep #line .p-select-label.p-placeholder {
  color: #000000;
}
.table-headers {
  display: grid;
  grid-template-columns: 110px 175px 110px 175px;
  margin: 1.5rem 0;
  gap: 1.5rem;
  align-items: center;
}
