<div class="import-data-page">
  <h1>Import Data</h1>
  <section class="page-form-section">
    <div class="form-group">
      <form #importForm="ngForm" >
        <div class="form-control">
          <div>
            <label for="data-type">Data Type</label>
          </div>
          <div>
            <p-select
              id="data-type"
              [options]="dataTypeOptions"
              [(ngModel)]="selectedDataType"
              name="importDataType"
            />
          </div>
        </div>
        <div class="form-control">
          <div>
            <label for="file-location">File Location</label>
          </div>
          <div>
            <input type="file" id="file-location" name="file" (change)="onFileChange($event)" />
          </div>
        </div>
        <div *ngIf="fileChanged">
          <div *ngIf="targetFile.found" class="form-control">
            <div>
              <label>File Name</label>
            </div>
            <div>{{targetFile.name}}</div>
          </div>
          <div class="form-control" *ngIf="targetFile.err">
            <div>
              <label style="color: #dc2626;font-weight: bold;">File Error:</label>
            </div>
            <div >
              <p-message severity="error" variant="simple">{{targetFile.errMsg}}</p-message>
            </div>

          </div>
        </div>
        <div *ngIf="targetFile.showDataTable">
          <div class="dt-btns">
            <button
              *ngIf="targetFile.totalRows"
              (click)="importFormSubmitted(importForm)"
              pButton
              severity="info"
              class="import-btn"
              pTooltip="Confirm to proceed">
              Import
            </button>
          </div>
          <p-table [value]="targetFile.dataRows"
                   [breakpoint]="'960px'"
                   [paginator]="true"
                   [rows]="50"
                   [rowsPerPageOptions]="[100, 200, 300]"
                   responsiveLayout="stack"
                   styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:1%">{{targetFile.dataHeader[0]}}</th>
                <th style="width:1%">{{targetFile.dataHeader[2]}}</th>
                <th style="width:1%">{{targetFile.dataHeader[8]}}</th>
                <th style="width:1%">{{targetFile.dataHeader[9]}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tablerow>
              <tr>
                <td>{{tablerow.split(',')[0]}}</td>
                <td>{{tablerow.split(',')[2]}}</td>
                <td>{{tablerow.split(',')[8]}}</td>
                <td>{{tablerow.split(',')[9]}}</td>
              </tr>
            </ng-template>
<!--            <ng-template pTemplate="footer">-->
<!--              <input type="hidden" [(ngModel)]="targetFile.data" name="data" />-->
<!--            </ng-template>-->
            <ng-template #paginatorleft>
              Total lines: <span>{{targetFile.totalRows}}</span>
            </ng-template>
          </p-table>
        </div>
      </form>
    </div>
  </section>
</div>
