<div class="import-data-page">
  <h1>Import Data</h1>
  <section class="page-form-section">
    <div>
      <form method="get">
        <div class="form-group">
          <label for="data-type">Data Type</label>
          <p-select
            id="data-type"
            [options]="dataTypeOptions"
            [(ngModel)]="selectedDataType"
            name="importDataType"
          />
          <label for="file-location">File Location</label>
          <input type="file" id="file-location" name="file" (change)="onFileChange($event)" />
          @if (targetFile.found) {
            <label for="orderno">Order #</label>
            <input pInputText type="text" id="orderno" name="orderno" [(ngModel)]="targetFile.orderNumber" [value]="targetFile.orderNumber" />
          }
          @if (targetFile.err) {
            <label style="color: #dc2626;font-weight: bold;">File Error:</label>
            <p-message severity="error" variant="simple">{{targetFile.errMsg}}</p-message>
          }
        </div>

        @if(targetFile.showTable){
          <div class="dt-btns">
            <button
              (click)="importFormSubmitted($event)"
              pButton
              severity="info"
              class="import-btn"
              >
              Import
            </button>
          </div>
          <div class="table-headers">
            <label id="line">Line Number</label>
            <p-select id="line" [options]="targetFile.header" [placeholder]="selectedHeaders.line" [(ngModel)]="selectedHeaders.line"/>
            <label id="item">Item Name</label>
            <p-select id="item" [options]="targetFile.header" [placeholder]="selectedHeaders.item" [(ngModel)]="selectedHeaders.item" />
            <label id="desc">Description</label>
            <p-select id="desc" [options]="targetFile.header" [placeholder]="selectedHeaders.desc" [(ngModel)]="selectedHeaders.desc" />
            <label id="qty">Order Quantity</label>
            <p-select id="qty" [options]="targetFile.header" [placeholder]="selectedHeaders.qty" [(ngModel)]="selectedHeaders.qty" />
            <label id="unit">Unit</label>
            <p-select id="unit" [options]="targetFile.header" [placeholder]="selectedHeaders.unit" [(ngModel)]="selectedHeaders.unit" />
          </div>
        }
      </form>
    </div>
  </section>
</div>
