<div class="inventory-table">
  <p-table [value]="items"
    [paginator]="true"
    [rowsPerPageOptions]="[50, 150, 500]"
    [rows]="50">
    <ng-template #header>
      <tr>
        <th>Item Name</th>
        <th>Total Zippers (Shelf)</th>
        <th>Total Zippers (Tagged)</th>
        <th>Total Zippers (Loose)</th>
        <th>Total Tags Left</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td><a routerLink="/inventory/{{item.item_name}}">{{item.item_name}}</a></td>
        <td>{{item.qty_shelf}}</td>
        <td>{{item.qty_tagged}}</td>
        <td>{{item.qty_loose}}</td>
        <td>{{item.tags_left}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
