<p-table
  [paginator]="true"
  [rowsPerPageOptions]="[99, 250, 500]"
  [rows]="99"
  [showCurrentPageReport]="true"
  [tableStyle]="{'min-width': '49rem'}"
  [columns]="tableHeaders"
  [value]="tableData"
  class="product-sidetable"
>
  <ng-template pTemplate="header" let-coloumns>
    <tr>
      @for( header of coloumns; track header) {
        <th style="with: 10%">{{header}}</th>
      }
    </tr>
  </ng-template>
  <ng-template let-data pTemplate="body">
    <tr>
     @for(item of data | keyvalue:keepOrder; track item; let idx = $index)  {
       @if(idx == 0) {
          <td><a routerLink="{{tableRouterLink}}/{{item.value}}">{{item.value}}</a></td>
       } @else {
         <td> {{item.value}}</td>
       }
     }
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button icon="pi pi-plus" styleClass="p-button-text" type="button"/>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button icon="pi pi-cloud" styleClass="p-button-text" type="button"/>
  </ng-template>
</p-table>
