/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  font-family:"Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 0.86rem;
}

/* customise primeNG styles */
.p-menubar.p-component {
  border: none;
  border-top: 1px solid  var(--p-menubar-border-color);;
  border-bottom: 1px solid  var(--p-menubar-border-color);;
  border-radius: 0;
}

.p-submenu-list {
  width: 13.88888rem;
}

.pi.pi-bell {
  font-size: larger;
}

.badge-indicator {
  position: relative;
  top: -6px;
  left: -14px;
  background: rgb(218, 65, 65);
  color: rgb(218, 65, 65);
  border-radius: 50%;
  font-size: 3px;
  padding: 0.1rem 0.2rem;
}

.p-splitter.p-component.p-splitter-horizontal {
  width: 100%;
}

.p-splitter {
  border: none;
  padding: 0 1.5rem;
}

.p-splitter .p-splitter-gutter {
  background: #e5e7eb;
}

.p-fieldset .p-fieldset-legend {
  background: #fff;
  border: none;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  background: #f3f4f6;
}

.p-fieldset-toggleable .p-fieldset-legend a {
  color: #334155;
  padding: 0.5rem 0.75rem;
}

.p-inputtext,
.p-treeselect .p-treeselect-label {
  padding: 0.58rem;
  width: 180px;
}

.toolbar-buttons.p-button {
  padding: 0.5rem;
  background: #fff;
  font-size: 12px;
  color: #000;
  border: 1px solid #fff;
  border-radius: 2px;
}

.toolbar-buttons.p-button:hover {
  background: #6366F1;
  color: #ffffff;
  border: 1px solid #6366F1;
}

.file-err-msg .p-message .p-message-wrapper {
  padding: 0.35rem 0.55rem;
}

.p-message .p-icon {
  width: 1rem;
  height: 1rem;
}
