<form #inventorySearch="ngForm" (ngSubmit)="formSubmission(inventorySearch)" >
  <div class="search-form" >
    <div>
      <label for="item-name">Item Name</label>
    </div>
    <div>
      <p-autoComplete
        (completeMethod)="filterSuggestions($event, 'itemSearch')"
        [suggestions]="itemNameSuggestions"
        id="item-name"
        name="itemName"
        [(ngModel)]="searchItem.itemName"
        required
        [style]="{width: '180px'}"
      />
    </div>
    <div>
      <label for="description">Description</label>
    </div>
    <div>
      <input
        id="description"
        name="description"
        [(ngModel)]="searchItem.description"
        pInputText
        type="text"
        [style]="{width: '180px'}"
      >
    </div>
    <div>
      <label for="category">Category</label>
    </div>
    <div>
      <p-select id="category"
        name="category"
        [(ngModel)]="searchItem.category"
        [options]="itemCategoryOptions"
        optionLabel="name"
        placeholder="Choose category"
        [style]="{width: '180px'}"
      />
    </div>
    <div>
      <label for="status">Status</label>
    </div>
    <div>
      <p-select id="status"
        name="status"
        [options]="itemStatusOptions"
        [(ngModel)]="searchItem.status"
        optionLabel="name"
        placeholder="Default: Active"
        [style]="{width: '180px'}"
      />
    </div>
    <div class="form-submit-button">
      <div>
        <label for="submit-button"></label>
      </div>
      <div>
        <p-button
          [style]="{'width': '100%', 'font-size': '13px'}"
          id="submit-button"
          label="Refresh"
          type="submit"
        />
      </div>
    </div>
  </div>
  <inventory-table [inputSearchItem]="searchItem" />
</form>
